/*
 * SPDX-FileCopyrightText: 2016-2024 Michael Picht <mipi@fsfe.org>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/* Change color for all links */
a {
    color: #50fa7b;
    --md-typeset-a-color: #50fa7b;
}
